<div class="row m-0 row-header-calender">
  <div class="col-sm-10 p-0">
    <mat-select placeholder="Calendar" [formControl]="calendar" (selectionChange)="selectedChange($event)">
      <mat-option *ngFor="let cal of supportedCalendars" [value]="cal">{{cal}}</mat-option>
    </mat-select>
  </div>
  <div class="col-sm-2 p-0">
    <button mat-mini-fab color="primary" (click)="todayClicked()">
        <!-- <span *ngIf="currentCalender == 'Persian'">امروز</span>
        <span *ngIf="currentCalender == 'Gregorian'">Today</span> -->
      <mat-icon>access_time</mat-icon>
    </button>
  </div>
</div>
<mat-calendar-header></mat-calendar-header>
